.app{
  display: flex;
  min-height: 100vh;
}

.sidebar{
  flex: 1 1 0;
  max-width: 300px;
  padding: 2rem 1rem;
  background-color: white;
}

.sidebar h3{
  color: #707793;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.table-wrapper {
  overflow-y: auto;
}

.order-items {
  max-height: 200px; /* Set the desired height for the scrollable area */
  overflow-y: auto;
}

.book-title {
  margin-right: 5px;
  max-width: 230px;
}

.book-image {
  max-height: 80px;
  max-width: 35px;
}

td {
  vertical-align: top;
}

table {
  display: table-cell;
}



