<div class="app">
  <aside class="sidebar">
    <app-admin-sidebar></app-admin-sidebar>
  </aside>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ІД</th>
        <th scope="col">ПІБ</th>
        <th scope="col">Пошта</th>
        <th scope="col">Телефон</th>
        <th scope="col">Зміст</th>
        <th scope="col">Доставка</th>
        <th scope="col">Сума</th>
        <th scope="col">Дата оформлення</th>
        <th scope="col">Статус замовлення</th>
        <th scope="col">Дії</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.contactEmail }}</td>
        <td>{{ order.contactName }}</td>
        <td>{{ order.contactPhone }}</td>
        <td>
          <div class="order-items">
            <table>
              <tr *ngFor="let item of order.orderItem" class="book-item">
                <td><img class="book-image" [src]="item.book.imageURL" alt="{{ item.book.title }}"/></td>
                <td><span class="book-title"> {{ item.book.title }}, x{{item.amount}}, {{item.price}}₴</span></td>
              </tr>
            </table>
          </div>
        </td>
        <td>{{ order.delivery.name }}</td>
        <td>{{ order.sum }} ₴</td>
        <td>{{ order.uploadedInfo | date: 'dd.MM.yyyy'}}</td>
        <td>{{ order.orderStatus.name }}</td>
        <td style="max-width: 1000px;">
          <button type="button" class="btn btn-danger" style="margin-right: 5px; margin-top: 5px;" [disabled]="order.orderStatus.id > 1"
           (click)="changeOrderStatus(order.id, 8)">
            Скасувати
          </button>
          <button type="button" class="btn btn-outline-success" style="margin-right: 5px; margin-top: 5px;"
            (click)="changeOrderStatus(order.id, 2)">
             Взяти на обробку
           </button>
           <button type="button" class="btn btn-outline-success" style="margin-right: 5px; margin-top: 5px;"
            (click)="changeOrderStatus(order.id, 3)">
             Комплектація
           </button>
           <button type="button" class="btn btn-outline-success" style="margin-right: 5px; margin-top: 5px;"
            (click)="changeOrderStatus(order.id, 4)">
             Очікує на відправку
           </button>
           <button type="button" class="btn btn-outline-success" style="margin-right: 5px; margin-top: 5px;"
            (click)="changeOrderStatus(order.id, 5)">
             Відправлено
           </button>
           <button type="button" class="btn btn-outline-success" style="margin-right: 5px; margin-top: 5px;"
            (click)="changeOrderStatus(order.id, 6)">
            Очікує у пункті видач
           </button>
           <button type="button" class="btn btn-success" style="margin-right: 5px; margin-top: 5px;"
            (click)="changeOrderStatus(order.id, 7)">
            Виконано
           </button>
        </td>
      </tr>
    </tbody>
    <div class="d-flex justify-content-center mt-3">
      <app-pager [totalCount]="orderTotalCount" [pageSize]="userParam.pageSize"
        (pageChanged)="onPageChangedOrder($event)"></app-pager>
    </div>
  </table>
</div>

