<section class="vh-50">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-11">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/assets/images/login_cats.jpg "
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img src="/assets/images/bookstoreLogo.png" alt="logo" class="logo" style="max-height: 70px; cursor: pointer;" routerLink="/">
                    <span class="h1 fw-bold mb-0">Cat With Book</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Увійдіть у свій обліковий запис</h5>
                  <app-text-input [formControl]="loginForm.controls['email']" [label]="'Пошта'" ></app-text-input>
                  <app-text-input [formControl]="loginForm.controls['password']" [label]="'Пароль'" type="password"></app-text-input>


                  <div class="pt-1 mb-4">
                    <button [disabled]="loginForm.invalid" class="btn btn-dark btn-lg btn-block" type="submit">Увійти</button>
                  </div>

                  <a class="small text-muted" href="#!">Забули пароль?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Ще не зареєстровані? <a routerLink="/account/register"
                      style="color: #393f81;">Реєстрація тут</a></p>
                  <a href="#!" class="small text-muted">Умови використання.</a>
                  <a href="#!" class="small text-muted">Політика конфіденційності</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
