<div class="container-fluid  mt-100">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <img src="/assets/images/success_order.png" width="230" height="230" class="img-fluid mb-4 mr-3">
            <h3><strong>Замовлення оформлене</strong></h3>
            <h4> Дякуємо що обираєте нас! ヽ(°□° )ノ</h4>
            <div class="back-to-shop"><a routerLink="/shop" style="text-decoration: none;">&leftarrow; <span
                  class="text-muted">Повернутися до покупок</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
