@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  font-family: 'Libre Caslon Text';
  background-color: #f3f2ec;
}

label.xng-breadcrumb-trail{
  color: #dbb695;
}

.page_container{
  margin-top: 120px;
}


