.btn{
  margin-top: 1rem;
  display:inline-block;
  padding:.9rem 3rem;
  border-radius: .5rem;
  background: #dbb695;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  color: #777777;
}

.home{
  background: url(/assets/images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .row{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
}

.home .row .content{
  flex:1 1 42rem;
}

.home .row .books-slider{
  flex:1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}

.home .row .books-slider a img{
  height: 20rem;
  box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.3);
}

.home .row .books-slider a:hover img{
  transform: scale(.9);
}

.home .row .books-slider .stand{
  width:100%;
  margin-top: -2rem;
}

.home .row .content h3{
  color:var(--black);
  font-size: 4.5rem;
}

.home .row .content p{
  color:var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
  padding:1rem 0;
}

section{
  padding: 5rem 9%;
}

slide{
  margin: 20px;
}
